{% load static %}
{% load inlinecss %}
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title></title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">


</head>

<body style="color: black; background: #eaeaea; font-weight: bolder; border-radius: 10px" >
<div style="padding-left: 10px;  padding-right: 10px; padding-top: 10px;" class="lots-o-padding">
 <h5>Keywords - {{ data.keywords }}</h5>
</div>
<div style="padding-left: 10px;  padding-right: 10px; padding-top: 10px;" class="lots-o-padding">
 <h5>Category - {{ data.category }}</h5>
</div>
<div style="padding-left: 10px;  padding-right: 10px; padding-top: 10px;" class="lots-o-padding">
 <h5>Descriptions - {{ data.descriptions }}</h5>
</div>
<div style="padding-left: 10px;  padding-right: 10px; padding-top: 10px;" class="lots-o-padding">
 <h5>PreferredCurrency - {{ data.preferredCurrency }}</h5>
</div>
<div style="padding-left: 10px;  padding-right: 10px; padding-top: 10px;" class="lots-o-padding">
 <h5>PreferredUntilPrice - {{ data.preferredUntilPrice }}</h5>
</div>
<div style="padding-left: 10px;  padding-right: 10px; padding-top: 10px;" class="lots-o-padding">
 <h5>PreferredShippingAgreement - {{ data.preferredShippingAgreement }}</h5>
</div>
<div style="padding-left: 10px;  padding-right: 10px; padding-top: 10px;" class="lots-o-padding">
 <h5>PaymentMethod - {{ data.paymentMethod }}</h5>
</div>
<div style="padding-left: 10px;  padding-right: 10px; padding-top: 10px;" class="lots-o-padding">
    <h5>iAgree - {{ data.iAgree }}</h5>
</div>




</body>
</html>