.double {
    display: flex;
    justify-content: space-between;
}

#main {
    margin: 0 10%;
}

.select {
    width: 49%;
}

svg {
    color: crimson;
}

.double div#doubleInput {
    width: 49%;
    height: 38px;
    margin-bottom: 4%;


}

.button {
    width: 100%;
    background-color: #824fc4;
    border-radius: 5px;
    border: none;
    padding: 9px;
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 15px;
    font-weight: 500;
}

.thumb {
    text-align: -webkit-center;
    border: solid 1px #c1bfc3;
    color: #c1bfc3;

    background-repeat: no-repeat;
    background-size: cover;
    height: 45%;
}

.preview {
    display: inline-flex;
    border-radius: 2px;
    border: 1px solid #eaeaea;
    margin-bottom: 8px;
    margin-right: 8px;
    width: 100px;
    height: 100px;
    padding: 4px;
    box-sizing: border-box
}


.pic {

    text-align: -webkit-center;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 45%;
    padding-top: 50px;
    padding-bottom: 40px;
}

.thumb button {
    border: none;
    background: none;
    color: #69c;
    text-underline-position: below;
}

.pic button {
    border: none;
    background: none;
    color: #69c;
    text-underline-position: below;
}

.pic p {
    font-weight: 100;
}

.compamyPictureform {
    text-align: center;
    width: 40%;
    height: 10%;
    border: solid white 1px;

}

.pic li {
    list-style: none;
}

.clip {
    font-size: 3em;
    cursor: pointer;

    display: inline-block;
}

.clip:before {
    content: '\f0c6';
    font-family: fontAwesome;
    line-height: 20px;
}

.thumbsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 16px;
}


.thumbInner {
    display: flex;
    min-width: 0;
    overflow: hidden;
}

img {
    display: block;
    width: auto;
    height: 100%;
}

@media (max-width: 768px) {
    .double {
        display: block;
    }

    #main {
        margin: 0 0;
    }

    .select {
        width: 100%;
        margin-top: 10%;
    }

    .double div#doubleInput {
        width: 100%;
        height: 38px;
        margin: 10% 0;

    }
}