.main {
    display: grid;
    grid-template-columns: 5% 20% 5% 70%;
    grid-template-areas:
        ". filter . profiles";
    min-height: 100vh;
    max-width: 100vw;
}

.logo {
    border-radius: 20px;
    border: solid 0.5px #626262;
}

.select h6:hover {
    color: #f1105b;
}
.profiles{
    grid-area: profiles;

}

.filter{
    grid-area: filter;

}
.select.active{
    display: flex;
    align-items: center;
}
.select{
    display: none;
    color: #797979;
    border-top: solid 1px #797979;
    padding: 10px 0;
    justify-content: space-between;
}


.title{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.skip{
    width: 20px;
    height: 20px;
    margin: 10px;
    cursor: pointer;
    display: inline-block;
}
.skip:before{
    content: '\f067';
    font-family: fontAwesome;
    line-height: 20px;
}
.input{
    display: block;
    width: 100%;
    height: 40px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #505050;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s
}

.input::placeholder{
    color: #797979;
}
.skip.active:before{
    content: '\f068';
}

.manufacturer img {
    width: 80%;
    height: 200px;

}

.manufacturer{
    float: left;
    width: 30%;
}

.manufacturer p{
    color: #797979;
}

.sort{
    display: none;
    grid-area: sort;
}
.buttons{
    display: none;
}
.checkbox {
    width: 20px;
    height: 20px;
    margin-left: 10px;


}

.checkIt{
    width: 20px;
    height: 20px;
    margin: 10px;
    cursor: pointer;
    display: inline-block;
}

@media (max-width:786px){
    .main{
        grid-template-rows: 7% 46.5% 46.5% ;
        grid-template-columns: auto;
        grid-template-areas:
        "sort"
        "profiles"
        "filter"
    }
    .sort{
        display: block;
        background: white;
        border: #824fc4 solid 2px;
        color: #824fc4;
        padding: 5px 10px;
        border-radius: 5px;

        font-size: 18px;
        font-weight: 500;
        width: 98%;
        transition-duration: 0.5s
    }
    .filter{
        display: none;
    }
    .filter.active{
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .5);
        justify-content: center;
        display: block;
        width: 100%;
        padding-top: 30rem;
        min-height: 100vh;
    }
    .filter_inner{
        position: relative;
        padding-bottom: 4rem ;
        border-radius: 5px;
        background: white;
        min-height: 120vh;
    }
    .sort:hover{
        background: #824fc4;
        border: white solid 2px;
        color: white;
        transform: scale(1.03);
    }
    .manufacturer {
        text-align: -webkit-center;
        display: inline-block;
        justify-content: space-around;
        margin: 10px;
        width: 40%;
    }

    .manufacturer h5,
    .manufacturer h6,
    .manufacturer p {
        text-align: start;
    }

    .manufacturer img {
        height: 140px;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        background: #394356;
        margin-bottom: 20px;
    }

    .buttons h3 {
        color: white;
        margin: 15px;
    }

}



