.button{
    width: 100%;
    background-color: #824fc4;
    border-radius: 5px;
    border: none;
    padding: 9px;
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 15px;
    font-weight: 500;
  }

.line{
    display: flex;
    justify-content: space-between;
}
.line div{
    height: 38px;
    width: 100%;
}
.form{
    margin:20px 0;
    margin-right: 10px;
}

.main{
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}
@media (max-width:786px){
    .line{
    display: block;
    }
    .form{
    margin: 40px 0;
    margin-right: 10px;
    }
}